{% extends "base.html" %}

{% block title %}
Profile
{% endblock %}

{% block content %}

<h2>My Profile</h2>

<p id="username"></p>
<p id="email"></p>
<p id="message"></p>

<button id="logout-button">Logout</button>

<script>
    const accessToken = localStorage.getItem("access");

    if (!accessToken) {
        window.location.href = "/login/";
    }

    async function loadProfile() {
        let token = localStorage.getItem("access");

        let response = await fetch("/api/auth/profile/", {
            method: "GET",
            headers: {
                "Authorization": "Bearer " + token
            }
        });

        if (response.status === 401) {
            const refreshToken = localStorage.getItem("refresh");

            if (!refreshToken) {
                window.location.href = "/login/";
                return;
            }

            const refreshResponse = await fetch("/api/auth/token/refresh/", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    refresh: refreshToken
                })
            });

            if (!refreshResponse.ok) {
                localStorage.removeItem("access");
                localStorage.removeItem("refresh");

                window.location.href = "/login/";
                return;
            }

            const refreshData = await refreshResponse.json();

            localStorage.setItem("access", refreshData.access);

            response = await fetch("/api/auth/profile/", {
                method: "GET",
                headers: {
                    "Authorization": "Bearer " + refreshData.access
                }
            });
        }

        if (!response.ok) {
            document.getElementById("message").innerText =
                "Could not load profile.";
            return;
        }

        const data = await response.json();

        document.getElementById("username").innerText =
            "Username: " + data.username;

        document.getElementById("email").innerText =
            "Email: " + data.email;
    }

    loadProfile();

    const logoutButton = document.getElementById("logout-button");

    logoutButton.addEventListener("click", function() {
        localStorage.removeItem("access");
        localStorage.removeItem("refresh");

        window.location.href = "/login/";
    });
</script>

{% endblock %}